<form
  class="p-4 bg-slate-200 rounded-md"
  (ngSubmit)="submitForm(form)"
  #form="ngForm"
>
  <div class="mt-1 text-sm text-red-600" *ngIf="form.submitted && form.invalid">
    O campo título é obrigatório.
  </div>

  <div class="mb-4">
    <input
      type="text"
      name="title"
      required
      [(ngModel)]="title"
      placeholder="Título da tarefa"
      class="mt-1 w-full p-2 border rounded-md bg-white"
    />
  </div>

  <div class="mb-4">
    <textarea
      name="description"
      [(ngModel)]="description"
      placeholder="Descrição"
      rows="3"
      class="mt-1 w-full p-2 border rounded-md bg-white"
    ></textarea>
  </div>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600"
  >
    {{ mode === "add" ? "Adicionar Tarefa" : "Salvar Tarefa" }}
  </button>
</form>
